#about {

	#about-banner {
		height: 200px;
		width: 100%;
		overflow: hidden;

        img {
            width: 100%;
        }

        @include breakpoint(phablet) {
            height: 100px;
        }
	}

    .about-section {
		max-width: 600px;
		margin: 30px auto;
	}

    .about-section h2 {
        margin-bottom: 20px;
        text-align: center;
    }

}