/*					Home Page
|============================================
|
|
|*/
article#home {
    height: 100vh;

    .intro {
        margin-top: 150px;
        text-align: center;
        animation: fadein 900ms;
        @include breakpoint(mobile-phone) {
            margin-top: 25px;
        }

        @include breakpoint(iphone5-landscape) {
            margin-top: 20px;
        }
        @keyframes fadein {
            from {
                opacity: 0;
                transform: scale(.2, .2);
            }
            to {
                opacity: 1;
                transform: scale(1, 1);
            }
        }

    }

    .avatar {
        width: 150px;
        border-radius: 50%;
    }

    h1 {
        font-size: 1.25em;
        margin: 1em 0;
        @include breakpoint(mobile-phone) {
            font-size: 1.1em;
        }
    }

    .row {
        display: inline-block;
        @include breakpoint(phablet) {
            display: block;
        }
        @include breakpoint(iphone5-landscape) {
            display: inline-block;
        }

        + .row {
            margin-left: 90px;
            @include breakpoint(phablet) {
                margin-left: 0;
                margin-top: 50px;
            }
            @include breakpoint(iphone5-landscape) {
                margin-left: 50px;
                margin-top: 0;
            }
        }
    }

    #main-nav ul {
        margin-top: 50px;
        animation: slidein 2s;
        text-align: center;
        @include breakpoint(mobile-phone) {
            margin-top: 25px;
        }
        @include breakpoint(iphone5-landscape) {
            margin-top: 0;
            padding: 10px 0;
        }

        @keyframes slidein {
            0% {
                opacity: 0;
                transform: translateY(-30px);
            }

            60% {
                opacity: 0;
                transform: translateY(-30px);
            }
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }

    #main-nav li {
        display: inline-block;
        text-align: center;
        width: 80px;
        transition: all .2s ease;
        @include breakpoint(mobile-phone) {
            width: 50px;
        }
        @include breakpoint(iphone5-landscape) {
            width: 60px;
        }
        + li {
            margin-left: 90px;
            @include breakpoint(iphone5-landscape) {
                margin-left: 50px;
            }
        }

    }

    .hover-effect {
        transform: scale(1.25, 1.25);
    }

    #main-nav li img {
        margin-bottom: 5px;
    }

    #main-nav ul a {
        &:hover {
            color: #000;
        }
    }

}








