/*					Home Page
|============================================
|
|
|*/
article#home {
    height: 100vh;

    .intro {
        margin-top: 150px;
        text-align: center;
        animation: fadein 900ms;

        .secondary-row li {
            display: inline-block;
            width: 40px;
        }
        @include breakpoint(mobile-phone) {
            margin-top: 25px;
        }

        @include breakpoint(iphone5-landscape) {
            margin-top: 20px;
        }

    }

    .avatar {
        width: 150px;
        border-radius: 50%;
    }

    h1 {
        font-size: 1.25em;
        margin: 1em 0;
        @include breakpoint(mobile-phone) {
            font-size: 1.1em;
        }
    }

    nav {
        text-align: center;
    }

    nav ul {
        margin-top: 50px;
        animation: slidein 2s;
        text-align: center;
        @include breakpoint(mobile-phone) {
            margin-top: 25px;
        }
        @include breakpoint(iphone5-landscape) {
            margin-top: 0;
            padding: 10px 0;
        }

    }

    nav li {
        display: inline-block;
        text-align: center;
        width: 80px;
        transition: all .2s ease;

        @include breakpoint(mobile-phone) {
            width: 50px;
        }
        @include breakpoint(iphone5-landscape) {
            width: 60px;
        }
        + li {
            margin-left: 60px;
            @include breakpoint(iphone5-landscape) {
                margin-left: 50px;
            }
        }

    }

    nav img {
        margin-bottom: 5px;
    }

    nav a {
        &:hover {
            color: #000;
        }
    }
    
    //Animations

    .hover-effect {
        transform: scale(1.25, 1.25);
    }

    @keyframes slidein {
        0% {
            opacity: 0;
            transform: translateY(-30px);
        }

        60% {
            opacity: 0;
            transform: translateY(-30px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    @keyframes fadein {
        from {
            opacity: 0;
            transform: scale(.2, .2);
        }
        to {
            opacity: 1;
            transform: scale(1, 1);
        }
    }


}








