article#project {

    #page-wrap {
        max-width: 800px;
        margin: 0 auto;
        font-size: 1.15em;
    }

    .showcase {
        padding: 60px 10px 0;
    }

    #work-summary {
        padding: 0 10px;
        margin: 40px 0;
    }

   .screenshot {
       padding: 60px 10px;
       border-top: 1px solid #d4d4d4;

       header {
           margin-bottom: 20px;
       }

       p.summary {
           margin-bottom: 50px;
       }
   }

   #carousel {
       max-width: 600px;
       margin: 0 auto;
   }
}

%overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    color: #fff;
    width: 100%;

    h3 {
        font-size: 1.5em;
        margin: 25px 0 5px;
        font-weight: bold;
        @include breakpoint(tablet) {
            margin: 0;
        }
    }
}


.project-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 0;

    &:last-child {
        padding-bottom: 2em;
    }

    .row {
        margin: 1em 0;
        position: relative;
        overflow: hidden;
        @include breakpoint(tablet) {
            margin: 0 0 1em 0;
        }
    }

    .row img {
        border-radius: 3px;
    }

    .showcase-overlay {
        @extend %overlay;

        height: 0;
        opacity: 0;
        transition: .3s ease-in-out;
        @include breakpoint(tablet) {
            height: 75px;
            opacity: 1;
            position: static;
            background: transparent none repeat scroll 0% 0%;
            color: initial;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    }

    .row:hover .showcase-overlay {
        height: 125px;
        opacity: 1;
        @include breakpoint(tablet) {
            height: 75px;
        }
    }

    .coming-soon-overlay {
        @extend %overlay;
        opacity: .85;
        top: 0;
        background: rgba(0, 0, 0, .98);
        color: #fff;
        display: flex;
        flex-direction: column;

        h3, p {
            opacity: .3;
        }

        h3 {
            margin-top: 100px;
            @include breakpoint(phablet) {
                margin-top: 50px;
            }
        }
    }

    .coming-soon-notice {
        font-size: 2.5em;
    }

}
