/*					Containers
|============================================
|
|
|*/

html,
body {
    height: 100%;
}

.container-90 {
	max-width: 1100px;
	width: 90%;
	margin: 0 auto;
}

#page-wrap {
	max-width: 700px;
	width: 90%;
	margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}