/*					Footer
|============================================
|
|
|*/

footer[role='contentinfo'] {
	border-top: 1px solid $tertiaryColor;
	text-align: center;
	width: 100%;
    margin-top: 40px;

	.social-media {
    	padding: 1em 0px 0px;
	}

	.social-media a {
		display: inline-block;
		height: 30px;
		width: 30px;
	}

	.social-media li {
		display: inline-block;
	}

	.social-media li + li {
		margin-left: 1em;
	}

	.copyright {
		padding: 1em 0;
		line-height: 1.55em;
	}
}