#contact-form,
#login-form {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	padding: 1em 1.5em;
	text-align: left;
}

#login-form {
	margin-top: 50px;
    padding: 30px 5px
}

.login-error {
    text-align: center;
}

.input-container {
	margin: 0 auto 20px 0;
}

.checkbox-container {
	font-size: .8em;
	margin: -10px auto 10px 0;
}

form label {
	color: gray;
}

form input,
form textarea,
form button,
.btn-std {
	width: 100%;
	padding: .75em;
	margin-bottom: 1em;
	display: block;
	border-radius: $baseBorderRadius;
	border: $thinBorderGray;
	font-size: 1em;
	box-shadow: none;
	appearance: none;
}

form textarea {
	resize: none;
}

form button,
.btn-std {
	background: $pastelTeal;
	color: #fff;
	border: $thickBorderTeal;
	background: opacity($pastelTeal, .8);
	cursor: pointer;
}

#remove-email {
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
}

input[type='checkbox'] {
	display: inline-block;
	width: 15px;
	height: 15px;
}

input:focus,
textarea:focus,
input[type]:focus {
	border-color: $pastelTeal;
	outline: none;
}
