/*					Forms
|============================================
|
|
|*/

#contact-form,
#login-form {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	padding: 1em 1.5em;
	text-align: left;
}

.input-container {
	margin: 0 auto 20px 0;
}

.checkbox-container {
	font-size: .8em;
	margin: -10px auto 10px 0;
}

form label {
	color: gray;
}

form input,
form textarea,
form button,
.btn-std {
	width: 100%;
	padding: .75em;
	margin-bottom: 1em;
	display: block;
	border-radius: 5px;
	border: 1px solid $tertiaryColor;
	font-size: 1em;
	box-shadow: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearnace: none;
}

form textarea {
	resize: none;
	font-family: Helvetica;
}

form button,
.btn-std {
	background: $secondaryColor;
	color: #fff;
	border: 2px solid $secondaryColor;
	background: opacity($secondaryColor, .8);
	cursor: pointer;
}

#remove-email {
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
}

#remove-email button {
    background: rgb(213, 107, 113);
    border:2px solid rgb(213, 107, 113);
}

input[type='checkbox'] {
	display: inline-block;
	width:15px;
	height: 15px;
}

input:focus,
textarea:focus,
input[type]:focus {
	border-color: $secondaryColor;
	outline: none;
}
