/*					Header
|============================================
|
|
|*/

header#site-header {
	padding: 0;
	position: relative;
    border-bottom: 1px solid #d4d4d4;

	nav#site-nav {
		font-size: 1.25em;
		padding: 1.5em 0;
		@include breakpoint(tablet) {
			padding: 1.25em 0;
		}
	}

	nav#site-nav div#site-logo {
		display: inline-block;
	}

	nav#site-nav ul {
		float: right;
		@include breakpoint(tablet) {
			display: none;
		}
	}

	div#mobile-nav-toggle {
		display: none;
		margin-top: -10px;
		height: 37.5px;
		width: 37.5px;
		cursor: pointer;
		@include breakpoint(tablet) {
			display: inline-block;
			float: right;
		}
	}

	nav#site-nav li {
		display: inline-block;
		padding: 0 10px;
	}

	nav#mobile-nav {
		display: none;
		font-size: 1.25em;
		background: #fff;
		width: 100%;
	}

	nav#mobile-nav ul {
		width: 100%;
	}

	nav#mobile-nav li {
		text-align: right;
		border-top: 1px solid $tertiaryColor;
	}

	nav#mobile-nav a {
		display: inline-block;
		width: 100%;
		padding: 1em 0;
	}

	nav#mobile-nav a::before {
		top: -5px;
	}
}

#page-header {
    padding: 2em 0;
    font-weight: 600;
    border-bottom: 1px solid #d4d4d4;
    @include breakpoint(phablet) {
        padding: 1em 0;
    }

 }