#project-index {

    max-width: 800px;
    margin: 0 auto;

    .project-container {
        padding: 40px 0;

        text-align: center;
        border-bottom: 1px solid $tertiaryColor;
        &:last-of-type {
            border-bottom: none;
        }
    }


    .project-type {
        font-weight: 300;
        padding-top: 7px;
    }

    .project-description {
        padding: 15px 0;
    }



}